
# Ignora dependencias
node_modules/

# Ignora variables de entorno
.env

# Ignora archivos de EB excepto config YAML
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Ignora docker-compose para evitar subirloa GitHub o AWS
!docker-compose.yml
